<div class="container site-body">
  <img
    src="https://cdn-images-1.medium.com/fit/c/150/150/2*tRKQlJMmyUSQtBLYJ_2dNg.jpeg"
    alt="Me - same as before"
    class="mx-auto d-block about-image rounded"
  />
  <h1 class="text-center mt-4">About Me</h1>
  <div class="content-body text-justify">
    Hi there and welcome! I'm Alex and I'm a <span class="fw-bold">software engineer</span>, <span class="fw-bold">security
      specialist</span> and <span class="fw-bold">writer</span>. I've
      always been passionate about solving problems that people face everyday in a
      way that respects their privacy and keeps them safe online, which is why I'm currently working as a Lead Back-End
    Developer at a
    <span class="fst-italic">start-up company currently in stealth </span>.🤫
  </div>
</div>
