<div class="container site-body">
  <img
    src="https://s3.eu-west-2.amazonaws.com/resources.alexcosta.dev/images/profilePlaceholder.jpg"
    alt="Not Me - Placeholder picture"
    width="300px"
    height="400px"
    class="mx-auto d-block"
  />
  <h1 class="text-center mt-4">About Me</h1>
  <div class="content-body text-justify">
    Hi there and welcome! I'm Alex and I'm a <span class="fw-bold">software engineer</span>, <span class="fw-bold">security
      specialist</span> and <span class="fw-bold">writer</span>. Whilst I'm currently working as Lead Back-End
    Developer at a
    <span class="fst-italic">start-up company currently in stealth </span>🤫; I've
    always been passionate about solving problems that people face everyday in a
    way that respects their privacy and keeps them safe online.
  </div>
</div>
