<div class="container site-body">
  <img
    src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
    alt="Not Me - Placeholder picture"
    width="300px"
    height="400px"
    class="mx-auto d-block"
  />
  <h1 class="text-center mt-4">About Alex</h1>
  <div class="content-body">
    Hi there and welcome! I'm Alex and I'm a software engineer, security
    specialist and writer. Whilst I'm currently working as Lead Back-End
    Developer at a
    <span class="fst-italic">start-up company currently in stealth</span>; I've
    always been passionate about solving problems that people face everyday in a
    way that respects their privacy and keeps them safe online.
  </div>
</div>
