<div class="container site-body-homepage">
  <div class="row align-items-center">
    <div class="col-sm-auto text-center pb-2 pb-lg-0">
      <img
      src="https://s3.eu-west-2.amazonaws.com/resources.alexcosta.dev/images/profilePlaceholder.jpg"
      alt="Fake Profile Picture"
      width="175px"
      height="175px"
      class="rounded"
    />
    </div>
    <div class="col text-justify">
      <h2 class="heading-small">Hi! 👋</h2>
      <p>
        I'm Alex Costa and I'm a Software Engineer. I'm
        passionate about <span class="fw-bold">using technology</span> to improve
        everyday life, and I also enjoy <span class="fw-bold">sharing my life experiences and
        lessons</span> in writting.<br>
        <a routerLink="/about">More about me</a>
      </p>
      <div class="social-links-container">
        <ul class="social-links-list">
          <li class="social-link">
            <a class="bi-linkedin" href="https://www.linkedin.com/in/alex-costa-045065134/"></a>
          </li>
          <li class="social-link">
            <a class="bi-instagram" href="https://www.instagram.com/coding_barista/"></a>
          </li>
          <li class="social-link">
            <a class="bi-twitter" href="https://twitter.com/alexcosta9716"></a>
          </li>
          <li class="social-link">
            <a class="bi-github" href="https://github.com/alexcosta97"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="homepage-section">
    <div class="homepage-column">
      <h2 class="heading-small">Recent Articles</h2>
    </div>
    <div class="homepage-column">
      <h2 class="heading-small">Recent Projects</h2>
    </div>
  </div>
</div>
